h6{font-family: "Press Start 2P";float: left;margin-top: 10px;
    }
#kk:hover{
    text-shadow: 0px 0px 10px rgb(203, 240, 255);
    color: cyan;
}
#kk{color:chartreuse ;font-size: large;;}
body{background: transparent;
     background-image: url("840843081452.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
     background-position: center;
    background-size: cover;
    filter: contrast(150%);
    
    }
     
#about{font-family: "Press Start 2P";color:chartreuse ;margin-left:100px ;transform: 180deg;}
#p1{ 
   border-width:9px ;
    border-color:greenyellow;
    color: chartreuse;
    width: 500px;
    height: 400px;
   
    margin-left: -200px;
    /* margin-right: auto; */
    font-size: 450%;
    clear: left;}
.h{position: sticky; top : 0px}
#com{background-color: azure; margin-left:45% ;height: 100px; width: 100px;border-radius: 50px;
    }
#com:hover{background-color: rgb(211, 255, 146);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    animation: anim;
    animation-duration: 5s;
   animation-iteration-count: infinite;
     }
@keyframes anim{
    /* from{margin-left: 0%;}
    to{margin-left: 50%;} */
    from{transform: rotateY(-360deg);}
}   
.github{height: 100px; border-radius: 50px; background-color: rgb(43, 42, 59); border: none;}
.github:hover{background-color:  #05e31f; box-shadow: 0px 0pc 20px #05e31f;
    animation: anim;
    animation-duration: 5s;
   animation-iteration-count: infinite;}
.py{height: 100px; border-radius: 50px; background-color: rgb(43, 42, 59);border: none;}
.py:hover{background-color:#05e31f; 
    box-shadow: 0px 0px 20px #05e31f;
    animation: anim;
    animation-duration: 5s;
   animation-iteration-count: infinite;}
.jav{height: 105px; border-radius: 55px; background-color: rgb(43, 42, 59);border: none}
.jav:hover{background-color:#05e31f; 
    box-shadow: 0px 0px 20px #05e31f;
    animation: anim;
    animation-duration: 5s;
   animation-iteration-count: infinite;
   }
.cmd{background-color: rgb(43, 42, 59);border-radius: 50px;border: none ;height: 100px;}
.cmd:hover{background-color:#05e31f; 
    box-shadow: 0px 0px 20px #05e31f;
    animation: anim;
    animation-duration: 5s;
   animation-iteration-count: infinite;}





#li{list-style-type: none ;color: lime ; font-style: "Press Start 2P" ; margin-top: 10px; display: flex;flex-direction: row; gap :20px ;
      position: relative;right: -700px;}
header{gap : 300px}
#logo{border-radius: 150px; margin-left: -60%; margin-top: 30px;
        height: 300px;
        animation: logoanim;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        box-shadow: 0px 0px 20px rgb(164, 253, 154);
     }
@keyframes logoanim{
    from{border-radius: 150px;}
    to{border-radius: 50px;}
}
#logopa{display: flex; flex:row;gap :300px; height: 70%;position:sticky; left: 10px;}
#p2{border-width:9px ;
    border-color:greenyellow;
    color: chartreuse;
    width: 500px;
    height: 400px;
   
    margin-left: -200px;
    /* margin-right: auto; */
    font-size: 450%;
    clear: left;}
#welcom{display: flex; flex:row ;gap:270px;margin-left: -70px;margin-top: 10px;
    animation: animpa;
    animation-duration: 10s;
     animation-iteration-count: infinite;}
#p1,#p2{font-size: 900%;text-shadow: 0px 0px 20px rgb(28, 255, 3);
   
}
@keyframes animpa{
from{filter: blur(0px);}
to{filter: blur(50px);}
}
#bouttons{position: relative; width: 50%; right: -50%; 
    box-shadow: 0px 0px 20px rgb(28, 255, 3); 
    background-color: rgb(0, 27, 9);
    }
#fir{position: relative; gap: 40%; box-shadow: 0px 0px 20px rgb(28, 255, 3);}
#sec{gap : 100px}
